<%- include('../partials/header') %>

    <form id="new-form" action="/books/<%= book._id %>?_method=PUT" method="POST">
        <label class="display">Update Title:</label>
        <input type="text" name="title" value="<%= book.title %>">
        <label class="display">Update Author:</label>
        <input type="text" name="author" value="<%= book.author %>">
        <label class="display">Update Release Year:</label>
        <input type="number" name="releaseYear" value="<%= book.releaseYear %>">
        <label class="display">Update Genre</label>
        <select name="genre">
            <% genre.forEach(function(g) { %>
                <option value="<%= g._id %>" <%=book.genre.equals(g._id) ? 'selected' : '' %>>
                    <%= g.genre %>
                </option>

                <% }); %>
        </select>

        <label class="display">Cover Art Link:</label>
        <input type="text" name="coverURL" value="<%= book.coverURL %>">
        <input type="submit" value="Add Book">
    </form>
    </form>

    <%- include('../partials/footer') %>