<%- include('../partials/header') %>

    <form action="/books/<%= book._id %>?_method=PUT" method="POST">
        <div class="option">
            <p>Update Title: </p><input type="text" name="title" value="<%= book.title %>"><br>
            <p>Update Author: </p><input type="text" name="author" value="<%= book.author %>"><br>
            <p>Update Release Date: </p><input type="Number" name="releaseYear" value="<%= book.releaseYear %>"><br>
            <p>Update Genre:
                <select name="genre">
                  <% genre.forEach(function(g) { %>
                    <option value="<%= g._id %>"<%= book.genre == g._id? 'selected':''%>>
                      <%= g.genre %>
                    </option>
                    <% }); %>
                </select><br>
            <p>Update Cover Art URL: </p><input type="text" name="book" value="<%= book.coverURL %>"><br>
        </div>
        <button type="submit">Update Book level</button>
    </form>

<%- include('../partials/footer') %>