<%- include('../partials/header') %>

  <div class="book-display">
    <div class="cover">
      <img src="<%= book.coverURL ? book.coverURL : '/images/logo.jpg' %>">
    </div>
    <div id="show">
      <% if (user?._id.equals(book.user)) { %>
        <button id="edit-button"><a href="/books/<%= book._id %>/edit">Edit Book</a></button>
        <% } %>
          <div class="display">Title: <%= book.title %>
          </div>
          <div class="display">Author: <%= book.author %>
          </div>
          <div class="display">Release Year: <%= book.releaseYear %>
          </div>
          <div class="display">Genre: <%= book?.genre?.genre %>
          </div>
          <div class="display">Rating: <%= book.rating %>
          </div>
          </section>



          <br><br>
          <h2>Reviews</h2>
          <form id="add-review-form" method="POST" action="/books/<%= book._id %>/reviews">
            <select name="rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5" selected>5</option>
            </select>
            <textarea name="content" style="width: 500px; height: 60px;"></textarea>
            <input type="submit" value="Add Review">
          </form>
    </div>
  </div>
  <div id="review-section">
    <% if (book.reviews.length) { %>
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Review</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody id="show-table">
          <% let total=0 %>
            <% book.reviews.forEach(function(r) { %>
              <% total +=r.rating %>
                <tr>
                  <td id="review-table-data"><img id="user-avatar" alt="avatar" src="<%= r.userAvatar %>"
                      referrerpolicy="no-referrer">
                  </td>
                  <td id="review-table-data">
                    <%= r.createdAt.toLocaleDateString() %>
                  </td>
                  <td>
                    <%= r.content %>
                  </td>
                  <td id="review-table-data">
                    <%= r.rating %>
                  </td>
                  <td id="review-table-data" style="border: none;">
                    <% if (user?._id.equals(r.user)) { %>
                      <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                      </form>
                      <% } %>
                  </td>
                </tr>
                <% }); %>
                  <tr>
                    <td colspan="3" style="border: none;"></td>
                    <td style="border: none;">
                    </td>
                  </tr>
        </tbody>
      </table>
      <% } else { %>
        <h5>No Reviews Yet</h5>
        <% } %>
  </div>
  <%- include('../partials/footer') %>